<ion-view title="Douban Todo" ng-init="init()">
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-plus" href="#/search">
    </a>
  </ion-nav-buttons>

  <ion-content class="app-item-list" scroll-show-bar-shadow>
    <ion-refresher on-refresh="doRefresh()">
    </ion-refresher>
    <div class="item item-thumbnail-left app-item-simple" ng-repeat="todoItem in todoList" ng-click="openItemModal(todoItem.doubanData.id)" on-hold="openItemMenu(todoItem)">
      
      <div id="div1" class="img-convert-small"><img src={{todoItem.doubanData.image}}></img></div>
      <div class="description">
        <h2>{{todoItem.doubanData.title}}</h2>
        <p>{{todoItem.doubanData.author[0].name}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>